<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Account number</th>
      <th>Ownership name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Naics code</th>
      <th>Naics code description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.account_number %></td>
        <td><%= business.ownership_name %></td>
        <td><%= business.start_date %></td>
        <td><%= business.end_date %></td>
        <td><%= business.naics_code %></td>
        <td><%= business.naics_code_description %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
