<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @business.account_number %>
</p>

<p>
  <strong>Ownership name:</strong>
  <%= @business.ownership_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @business.start_date %>
</p>

<p>
  <strong>End data:</strong>
  <%= @business.end_data %>
</p>

<p>
  <strong>Naics code:</strong>
  <%= @business.naics_code %>
</p>

<p>
  <strong>Naics code description:</strong>
  <%= @business.naics_code_description %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
