<p id="notice"><%= notice %></p>

<p>
  <strong>Locationid:</strong>
  <%= @full_business_datum.locationid %>
</p>

<p>
  <strong>Business account number:</strong>
  <%= @full_business_datum.business_account_number %>
</p>

<p>
  <strong>Ownership name:</strong>
  <%= @full_business_datum.ownership_name %>
</p>

<p>
  <strong>Dba name:</strong>
  <%= @full_business_datum.dba_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @full_business_datum.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @full_business_datum.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @full_business_datum.state %>
</p>

<p>
  <strong>Source zipcode:</strong>
  <%= @full_business_datum.source_zipcode %>
</p>

<p>
  <strong>Business start date:</strong>
  <%= @full_business_datum.business_start_date %>
</p>

<p>
  <strong>Business end date:</strong>
  <%= @full_business_datum.business_end_date %>
</p>

<p>
  <strong>Location start date:</strong>
  <%= @full_business_datum.location_start_date %>
</p>

<p>
  <strong>Location end date:</strong>
  <%= @full_business_datum.location_end_date %>
</p>

<p>
  <strong>Mail address:</strong>
  <%= @full_business_datum.mail_address %>
</p>

<p>
  <strong>Mail city:</strong>
  <%= @full_business_datum.mail_city %>
</p>

<p>
  <strong>Mail zipcode:</strong>
  <%= @full_business_datum.mail_zipcode %>
</p>

<p>
  <strong>Mail state:</strong>
  <%= @full_business_datum.mail_state %>
</p>

<p>
  <strong>Naics code:</strong>
  <%= @full_business_datum.naics_code %>
</p>

<p>
  <strong>Naics code description:</strong>
  <%= @full_business_datum.naics_code_description %>
</p>

<p>
  <strong>Parking tax:</strong>
  <%= @full_business_datum.parking_tax %>
</p>

<p>
  <strong>Transient occupancy tax:</strong>
  <%= @full_business_datum.transient_occupancy_tax %>
</p>

<p>
  <strong>Lic code:</strong>
  <%= @full_business_datum.lic_code %>
</p>

<p>
  <strong>Lic code description:</strong>
  <%= @full_business_datum.lic_code_description %>
</p>

<p>
  <strong>Supervisor district:</strong>
  <%= @full_business_datum.supervisor_district %>
</p>

<p>
  <strong>Neighborhoods:</strong>
  <%= @full_business_datum.neighborhoods %>
</p>

<p>
  <strong>Business corridor:</strong>
  <%= @full_business_datum.business_corridor %>
</p>

<p>
  <strong>Business location:</strong>
  <%= @full_business_datum.business_location %>
</p>

<%= link_to 'Edit', edit_full_business_datum_path(@full_business_datum) %> |
<%= link_to 'Back', full_business_data_path %>
