<p id="notice"><%= notice %></p>

<p>
  <strong>Park name:</strong>
  <%= @full_park_datum.park_name %>
</p>

<p>
  <strong>Park type:</strong>
  <%= @full_park_datum.park_type %>
</p>

<p>
  <strong>Park service area:</strong>
  <%= @full_park_datum.park_service_area %>
</p>

<p>
  <strong>Psa manager:</strong>
  <%= @full_park_datum.psa_manager %>
</p>

<p>
  <strong>Email:</strong>
  <%= @full_park_datum.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @full_park_datum.number %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @full_park_datum.zipcode %>
</p>

<p>
  <strong>Acreage:</strong>
  <%= @full_park_datum.acreage %>
</p>

<p>
  <strong>Sup dist:</strong>
  <%= @full_park_datum.sup_dist %>
</p>

<p>
  <strong>Parkid:</strong>
  <%= @full_park_datum.parkid %>
</p>

<p>
  <strong>Location:</strong>
  <%= @full_park_datum.location %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @full_park_datum.lat %>
</p>

<%= link_to 'Edit', edit_full_park_datum_path(@full_park_datum) %> |
<%= link_to 'Back', full_park_data_path %>
