<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @full_film_location_datum.title %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @full_film_location_datum.release_year %>
</p>

<p>
  <strong>Locations:</strong>
  <%= @full_film_location_datum.locations %>
</p>

<p>
  <strong>Fun facts:</strong>
  <%= @full_film_location_datum.fun_facts %>
</p>

<p>
  <strong>Production company:</strong>
  <%= @full_film_location_datum.production_company %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @full_film_location_datum.distributor %>
</p>

<p>
  <strong>Director:</strong>
  <%= @full_film_location_datum.director %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @full_film_location_datum.writer %>
</p>

<p>
  <strong>Actor1:</strong>
  <%= @full_film_location_datum.actor1 %>
</p>

<p>
  <strong>Actor2:</strong>
  <%= @full_film_location_datum.actor2 %>
</p>

<p>
  <strong>Actor3:</strong>
  <%= @full_film_location_datum.actor3 %>
</p>

<%= link_to 'Edit', edit_full_film_location_datum_path(@full_film_location_datum) %> |
<%= link_to 'Back', full_film_location_data_path %>
