<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @psa_manager.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @psa_manager.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @psa_manager.number %>
</p>

<%= link_to 'Edit', edit_psa_manager_path(@psa_manager) %> |
<%= link_to 'Back', psa_managers_path %>
