<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <%= link_to 'Thesis Test', root_path, class: 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse" id="nav-body">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'Map', maps_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Parks', parks_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'PSA Managers', park_psa_managers_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Full Park Data', full_park_data_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Full Business Data', full_business_data_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>
